html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
}

body {
    background-color: #183D3D;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 50px;
}

aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    min-height: 50px;
    margin-left: 40px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #040D12;
    margin: 0px;
    align-items: center;
    border-bottom: 5px solid white;
}

h1 {
    font-size: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header > h1 {
    width: 100%;
    margin: 40px;
    text-align: center;
    font-size: 35;
}

#header-name {
    text-align: left;
}

#header-title {
    text-align: right;
}

#aside-left-block {
    width: 30%;
    text-align: right;
}

.aside-left-block-info {
    padding-top: 20px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.aside-left-block-info > ul {
    direction: rtl;
    margin: 0px;
    padding-right: 15px;
}

.aside-left-block-info > ul > li {
    direction: ltr;
    unicode-bidi: embed;
}

.aside-left-block-info > p {
    margin: 0px;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.display-box {
    border-radius: 1em;
}

.content-selector {
    display: flex;
    background-color: #040D12;
    justify-content: space-around;
    margin: 20px;
    padding: 0px 10px;
    flex-grow: 1;
}

.info-display {
    background-color: #475852;
    padding: 1px 20px;
    margin: 20px;
    text-align: left;
}

#main-content {
    display: flex;
    flex-grow: 1;
}

.info-display-detail > h2, .info-display-detail > h3, .info-display-detail > h4, .info-display-detail > p {
    padding: 0px;
    margin: 0px;
}

.info-display-detail {
    padding: 10px 0px
}