html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
}

#body {
    background-color: #183D3D;
    display: flex;
    flex-direction: column;
}

#body-header {
    min-height: 50px;
}

#body-main {
    display: flex;
    flex-grow: 1;
}

#body-footer {
    min-height: 50px;
    margin-left: 40px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #040D12;
    margin: 0px;
    align-items: center;
    border-bottom: 5px solid white;
}

h1 {
    font-size: 100%;
}

.header > h1 {
    width: 100%;
    margin: 40px;
    text-align: center;
    font-size: 35;
}

#header-name {
    text-align: left;
}

#header-title {
    text-align: right;
}

#main-left-block {
    width: 30%;
    text-align: right;
}

.main-left-block-info {
    padding-top: 20px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.main-left-block-info > ul {
    direction: rtl;
    margin: 0px;
    padding-right: 15px;
}

.main-left-block-info > p {
    margin: 0px;
}